node_modules
.env
.DS_Store
dist
build
coverage
npm-debug.log
yarn-error.log

logs/*
!logs/.gitkeep

src/uploads/*
!src/uploads/.gitkeep
!src/generated/prisma
!src/uploads/products/.gitkeep
!src/uploads/ventures/.gitkeep
!src/uploads/gallery/.gitkeep
!src/uploads/profiles/.gitkeep

